<div class="container mt-3">
  <h1>Conoce nuestros productos</h1>
  <table class="table mt-3">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Productos</th>
        <th scope="col">Descripcion</th>
        <th scope="col">Precio</th>
        <th scope="col">Detalle</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of productList, let i = index">
        <th scope="row">{{product.id}}</th>
        <td>{{product.title}}</td>
        <td>{{product.description}}</td>
        <td>{{product.price}}</td>
        <td><button type="button" class="btn btn-outline-primary" (click)="navigate(product.id)">Detalle</button></td>
      </tr>
    </tbody>
  </table>
</div>
